/* App.css */

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  animation: gradientAnimation 10s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background: linear-gradient(-45deg, #ff6b6b, #556270, #6a82fb, #fa9d05);
    background-size: 400% 400%;
    background-position: 0% 50%;
  }
  100% {
    background: linear-gradient(-45deg, #ff6b6b, #556270, #6a82fb, #fa9d05);
    background-size: 400% 400%;
    background-position: 100% 50%;
  }
}

.dot {
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  background-image: url("/assets/mainButterfly.png"); /* Replace with your image path */
  background-size: cover;
  position: absolute;
}
