/* App.css */

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  animation: gradientScrollAnimation 20s linear infinite;
  background: linear-gradient(-45deg,
  #e2eafc,
  #ff9ad5,
  #b0f7e6,
  #ffd8cb,
  #ffe6a7,
  #ffe85e,
  #eaecfc,
  #ffeaf5,
  #c4ffec,
  #ffefd7,
  #fff2ad,
  #fff47e,
  #ff9aff,
  #9efffb,
  #ffdd8f,
  #fbffad,
  #ffe9c9,
  #ffc4ff,
  #ecffef,
  #ffd6ff,
  #f1ffcf,
  #ffdfb9,
  #d4d4ff,
  #fff4d4,
  #ffaaff,
  #d6f0ff,
  #fffcad,
  #f6f6ff,
  #ff7fc7,
  #d6e8ff,
  #fedbe0,
  #ffdbd2,
  #a2b6ff,
  #fdeac0,
  #ffc9de,
  #fffb9d,
  #ffeefc,
  #ffdec0,
  #d4f6ff,
  #f2ffcc,
  #ffa4ff,
  #edffec,
  #c3c3ff,
  #f0ffe2,
  #fff0b4,
  #ebd8ff,
  #f6ffab,
  #ffebff,
  #ffe1b1,
  #ffbfff,
  #bff7e8,
  #ffc7ff,
  #fff5a3,
  #ebe8ff,
  #ffdbd2,
  #f0f0ff,
  #ff99b0,
  #d6e8ff,
  #c5fffc,
  #ffbfcf,
  #f0ffb5,
  #fed8ff,
  #ffafaf,
  #e2eafc,
  #ff9ad5,
  #b0f7e6,
  #ffd8cb,
  #ffe6a7,
  #ffe85e,
  #eaecfc,
  #ffeaf5,
  #c4ffec,
  #ffefd7,
  #fff2ad,
  #fff47e,
  #ff9aff,
  #9efffb,
  #ffdd8f,
  #fbffad,
  #ffe9c9,
  #ffc4ff,
  #ecffef,
  #ffd6ff,
  #f1ffcf,
  #ffdfb9,
  #d4d4ff,
  #fff4d4,
  #ffaaff,
  #d6f0ff,
  #fffcad,
  #f6f6ff,
  #ff7fc7,
  #d6e8ff,
  #fedbe0,
  #ffdbd2,
  #a2b6ff,
  #fdeac0,
  #ffc9de,
  #fffb9d,
  #ffeefc,
  #ffdec0,
  #d4f6ff,
  #f2ffcc,
  #ffa4ff,
  #edffec,
  #c3c3ff,
  #f0ffe2,
  #fff0b4,
  #ebd8ff,
  #f6ffab,
  #ffebff,
  #ffe1b1,
  #ffbfff,
  #bff7e8,
  #ffc7ff,
  #fff5a3,
  #ebe8ff,
  #ffdbd2,
  #f0f0ff,
  #ff99b0,
  #d6e8ff,
  #c5fffc,
  #ffbfcf,
  #f0ffb5,
  #fed8ff,
  #ffafaf);

}

@keyframes gradientScrollAnimation {
  0% {
    background-position: 0% 50%;
    transform: translateY(0);
  }
  100% {
    background-position: 100% 50%;
    transform: translateY(-100vh);
  }
}

@keyframes dotScrollAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

.dot {
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  background-image: url("/assets/mainButterfly.png"); /* Replace with your image path */
  background-size: cover;
  position: absolute;
  animation: dotScrollAnimation 20s linear infinite;
}

.block {
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  background-color: #333; /* Color of the blocks */
  opacity: 0.2; /* Adjust the opacity as needed */
  position: absolute;
}