/* App.css */

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  animation: gradientScrollAnimation 20s linear infinite;
  background: linear-gradient(-45deg, #ff6b6b, #556270, #6a82fb, #fa9d05);
}

@keyframes gradientScrollAnimation {
  0% {
    background-position: 0% 50%;
    transform: translateY(0);
  }
  100% {
    background-position: 100% 50%;
    transform: translateY(-100vh);
  }
}

@keyframes dotScrollAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

.dot {
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  background-image: url("/assets/mainButterfly.png"); /* Replace with your image path */
  background-size: cover;
  position: absolute;
  animation: dotScrollAnimation 20s linear infinite;
}

.block {
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  background-color: #333; /* Color of the blocks */
  opacity: 0.2; /* Adjust the opacity as needed */
  position: absolute;
}